<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Post</title>
</head>
<body>
    <h2>Testing Post</h2>

    <h3>This is your character:</h3>

    <h4>Character Info:</h4>

    <p>Name: {{c_name}}</p>
    <p>Race: {{c_race}}</p>
    <p>Class: {{c_class}}</p>
    <p>Background: {{c_background}}</p>
    <p>Alignment: {{c_alignment}}</p>

    <h4>Character Description:</h4>

    <p>Age: {{c_age}}</p>
    <p>Height: {{c_height}}</p>
    <p>Weight: {{c_weight}}</p>
    <p>Eye: {{c_height}}</p>
    <p>Skin: {{c_skin}}</p>
    <p>Hair: {{c_hair}}</p>

    <h4>Character Stats:</h4>

    <p>Strength: {{c_str}}</p>
    <p>Dexterity: {{c_dex}}</p>
    <p>Constitution: {{c_con}}</p>
    <p>Intelligence: {{c_int}}</p>
    <p>Wisdom: {{c_wis}}</p>
    <p>Charisma: {{c_cha}}</p>

    <button type="button" onclick="window.location.href='/'"> Go to Home </button>    

</body>
</html>